@import "icons";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1b203e;
    color: white;
}

.hidden {
    display: none;
}

a {
    text-decoration: none;
    color: white;
}

.container {
    text-align: center;
    top: 30%;
    position: fixed;
    width: 100%;
}

.container #text {
    font-size: 35px;
    font-family: sans-serif;
}

#avatar {
    width: 100px;
    border-radius: 50px;
}

.typed-cursor {
    font-size: 35px;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}